Harver QA Exercise
========================

Please refer TestResults folder 
1. Screenshots
2. Postman collection
3. Issues list